# This is currently a mixed bag of test, test-suite and test-framework properties
platform          =   MAC
browser           =   firefox
platform2         =   MAC
browser2          =   firefox
firefox           =   firefox
chrome            =   chrome
ie                =   IE
htmlunit          =   htmlunit

user_email        =   bnn@flashnotes.com
# user_password     =   j9799106
user_password     =   password
domain_auth       =   http://bluejet:letmein@
domain_auth_sec   =   https://bluejet:letmein@
domain            =   stage.dev.luvolearn.com
# domain            =   beta.flashnotes.com
# domain            =   integration.dev.flashnotes.com
httpBasicAuth       =   bluejet:letmein@
# The following are created in init based on domain value
# starting_url      =   http://bluejet:letmein@stage.dev.flashnotes.com
# starting_url      =   http://bluejet:letmein@beta.flashnotes.com
# starting_url_sec  =   https://bluejet:letmein@stage.dev.flashnotes.com
# starting_url_sec  =   https://bluejet:letmein@beta.flashnotes.com
timeout           =   20
poll_freq         =   .5
firstname         =   Firstname
lastname          =   Lastname
school            =   Kent State University at Kent
phone             =   555-555-5555
facebook_email    =   fbjackmason2015071401@gmail.com
facebook_password =   j9799106
tutoring          =   on
tutoringUrlParam  =   ?dwft_enable_new_tutoring
domainUser        =   bluejet
domainPassword    =   letmein
dashboard         =   /home/
projectHome       =   /Users/johnmason/git/FlashNotes/flashnotes/FlashnotesSeleniumTests/
knownNote         =   ~knownNote
